apiVersion: v1
data:
  superset_init.sh: |-
    #!/bin/bash
    # Create Admin user; read these values from env or anywhere else possible
    superset fab create-admin --username "$ADMIN_USERNAME" --firstname Superset --lastname Admin --email "$ADMIN_EMAIL" --password "$ADMIN_PASSWORD"

    # Upgrade Superset metastore
    superset db upgrade

    # Setup roles and permissions
    superset init

    # Optional: Set database URI
    # superset set_database_uri -d hive_connection -u hive://hive@hive-server:10000/default

    # Import datasources and dashboards
    superset import-datasources -p /database_export.zip
    superset import-dashboards -p /dashboard_export.zip

    # Start server
    /bin/sh -c /usr/bin/run-server.sh
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: superset-cm0-init
