apiVersion: v1
data:
  superset.dockerfile: |-
    FROM apache/superset:2.1.0

    USER root

    RUN apt-get update && apt-get install -y zip unzip
    RUN pip install pyhive requests bs4

    ENV ADMIN_USERNAME $ADMIN_USERNAME
    ENV ADMIN_EMAIL $ADMIN_EMAIL
    ENV ADMIN_PASSWORD $ADMIN_PASSWORD

    COPY ./*.sh /superset-init.sh
    RUN chmod +x /superset-init.sh

    COPY ./database_export /database_export
    RUN zip -r /database_export.zip /database_export

    COPY ./dashboard_export /dashboard_export
    RUN zip -r /dashboard_export.zip /dashboard_export

    COPY ./superset_config.py /app/
    ENV SUPERSET_CONFIG_PATH /app/superset_config.py

    USER superset
    ENTRYPOINT [ "/superset-init.sh" ]

    # hive://hive@hive-server:10000/default
  superset_config.py: |-
    FEATURE_FLAGS = {
        "ENABLE_TEMPLATE_PROCESSING": True,
    }

    ENABLE_PROXY_FIX = True
    SECRET_KEY = "57ae7951d8d179777e9c14b08ab4d9e0f235973541ec2156a28d9b4ec3945846"
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: superset-cm0
