apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -v --volumes persistentVolumeClaim --file docker-compose-compatible-kompose.yml
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: superset
  name: superset
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: superset
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -v --volumes persistentVolumeClaim --file docker-compose-compatible-kompose.yml
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: superset
    spec:
      initContainers:
        - name: init-superset
          image: apache/superset:2.1.0  # Use the same image as your main container
          command: [ "/bin/bash", "-c" ]
          args:
            - |
              apt-get update &&
              apt-get install -y zip unzip &&
              pip install pyhive requests bs4
          securityContext:
            runAsUser: 0
      containers:
        - env:
            - name: ADMIN_EMAIL
              value: admin@superset.com
            - name: ADMIN_PASSWORD
              value: administrator
            - name: ADMIN_USERNAME
              value: administrator
            - name:  SUPERSET_CONFIG_PATH
              value: /app/superset_config.py
          image: apache/superset:2.1.0
          name: superset
          volumeMounts:
            - name: superset-conf
              mountPath: /app/superset_config.py
              subPath: superset_config.py
            - name: superset-conf-init-sh
              mountPath: /superset_init.sh
              subPath: superset_init.sh
            - name: superset-conf-charts
              mountPath: /dashboard_export/charts/new_positive_cases_1.yaml
              subPath: new_positive_cases_1.yaml
            - name: superset-conf-dashboards
              mountPath: /dashboard_export/dashboards/covid_overview_1.yaml
              subPath: covid_overview_1.yaml
            - name: superset-conf-dashboards-databases
              mountPath: /dashboard_export/databases/hive_connection.yaml
              subPath: hive_connection.yaml
            - name: superset-conf-dataset-hive
              mountPath: /dashboard_export/datasets/hive_connection/cases.yaml
              subPath: hive_connection/cases.yaml
            - name: superset-conf-dashboard-metadata
              mountPath: /dashboard_export/metadata.yaml
              subPath: metadata.yaml
            - name: superset-conf-database-hive
              mountPath: /database_export/databases/hive_connection.yaml
              subPath: databases/hive_connection.yaml
            - name: superset-conf-database-hive-cases
              mountPath: /database_export/datasets/hive_connection/cases.yaml
              subPath: hive_connection/cases.yaml
            - name: superset-conf-database-metadata
              mountPath: /database_export/metadata.yaml
              subPath: metadata.yaml
            - name: superset-conf-zip
              mountPath: /database_export.zip
              subPath: database_export.zip
            - name: superset-conf-zip
              mountPath: /dashboard_export.zip
              subPath: dashboard_export.zip
          command: ["/bin/bash", "-c", "bash /superset_init.sh"]
          ports:
            - containerPort: 8088
              protocol: TCP
      restartPolicy: Always
      volumes:
        - name : superset-conf-init-sh
          configMap:
            name: superset-cm0-init
        - name : superset-conf
          configMap:
            name: superset-cm0
        - name: superset-conf-charts
          configMap:
            name : superset-cm0-charts
        - name: superset-conf-dashboards
          configMap:
            name : superset-cm0-dashboards
        - name: superset-conf-dashboards-databases
          configMap:
            name: superset-cm0-dashboards-databases
        - name: superset-conf-dataset-hive
          configMap:
            name: superset-cm0-datasets-hive
        - name: superset-conf-dashboard-metadata
          configMap:
            name: superset-cm0-dashboard-metadata
        - name: superset-conf-database-hive
          configMap:
            name: superset-cm0-database-hive
        - name: superset-conf-database-hive-cases
          configMap:
            name: superset-cm0-database-hive-cases
        - name: superset-conf-database-metadata
          configMap:
            name: superset-cm0-database-metadata
        - name: superset-conf-zip
          configMap:
            name: superset-cm0-zip