apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -v --volumes persistentVolumeClaim --file docker-compose-compatible-kompose.yml
    kompose.version: 1.34.0 (cbf2835db)
    namespace: pipeline-namespace
  labels:
    io.kompose.service: zeppelin
  name: zeppelin-server
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: zeppelin
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -v --volumes persistentVolumeClaim --file docker-compose-compatible-kompose.yml
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: zeppelin
    spec:
      initContainers:
        - name: install-dependencies
          image: apache/zeppelin:0.10.1
          env:
            - name: BASE_URL
              value: https://archive.apache.org/dist/spark/
            - name: SPARK_VERSION
              value: 3.1.3
            - name: HADOOP_VERSION
              value: "3.2"
          command: [ "/bin/bash", "-c" ]
          args:
            - |
              # wget -nc ${BASE_URL}/spark-${SPARK_VERSION}/spark-${SPARK_VERSION}-bin-hadoop${HADOOP_VERSION}.tgz --progress=bar:force && \
              wget -nc https://spark-hadoop-jar.s3.fr-par.scw.cloud/spark-3.1.3-bin-hadoop3.2.tgz --progress=bar:force && \
              tar xvf spark-${SPARK_VERSION}-bin-hadoop${HADOOP_VERSION}.tgz && \
              # rm -r -f /spark && \
              mkdir -p /spark && \
              mv spark-${SPARK_VERSION}-bin-hadoop${HADOOP_VERSION}/* /spark/ && \
              mkdir -p /sample-data
          volumeMounts:
            - mountPath: /spark
              name: spark-interpreter-volume
          securityContext:
              runAsUser: 0
      containers:
        - image: apache/zeppelin:0.10.1
          env:
            - name: MASTER
              value: spark://spark-master:7077
            - name: SPARK_MASTER
              value: spark://spark-master:7077
            - name: SPARK_HOME
              value: /spark
            - name: PYSPARK_PYTHON
              value: /usr/bin/python3.8
            - name: PYSPARK_DRIVER_PYTHON
              value: /usr/bin/python3.8
            - name: BASE_URL
              value: https://archive.apache.org/dist/spark/
            - name: SPARK_VERSION
              value: 3.1.3
            - name: HADOOP_VERSION
              value: "3.2"
            - name: ZEPPELIN_PORT
              value: "8080"
            - name: ZEPPELIN_RUN_MODE
              value: "local"
          command: [ "/bin/bash", "-c" ]
          args:
            - |
              apt-get update && apt-get install -y python3
              pip install pyspark==3.1.3 findspark ipython
              /usr/bin/tini -- bin/zeppelin.sh
          volumeMounts:
            - mountPath: /spark
              name: spark-interpreter-volume
          name: zeppelin-container
          ports:
            - containerPort: 8080
              protocol: TCP
          securityContext:
            runAsUser: 0
#      serviceAccountName: zeppelin
      hostname: zeppelin
      restartPolicy: Always
      volumes:
        - name: zeppelin-conf
          configMap:
            name: zeppelin-cm0
        - name: spark-interpreter-volume
          emptyDir: {}
{{/*---*/}}
{{/*apiVersion: v1*/}}
{{/*kind: ServiceAccount*/}}
{{/*metadata:*/}}
{{/*  name: zeppelin*/}}
{{/*---*/}}
{{/*kind: Role*/}}
{{/*apiVersion: rbac.authorization.k8s.io/v1*/}}
{{/*metadata:*/}}
{{/*  name: zeppelin-server-role*/}}
{{/*  namespace: pipeline-namespace*/}}
{{/*rules:*/}}
{{/*  - apiGroups: [""]*/}}
{{/*    resources: ["pods", "services", "configmaps"]*/}}
{{/*    verbs: ["create", "get", "update", "patch", "list", "delete", "watch"]*/}}
{{/*  - apiGroups: ["rbac.authorization.k8s.io"]*/}}
{{/*    resources: ["roles", "rolebindings"]*/}}
{{/*    verbs: ["bind", "create", "get", "update", "patch", "list", "delete", "watch"]*/}}
{{/*---*/}}
{{/*kind: RoleBinding*/}}
{{/*apiVersion: rbac.authorization.k8s.io/v1*/}}
{{/*metadata:*/}}
{{/*  name: zeppelin-server-role-binding*/}}
{{/*  namespace: pipeline-namespace*/}}
{{/*subjects:*/}}
{{/*  - kind: ServiceAccount*/}}
{{/*    name: zeppelin*/}}
{{/*roleRef:*/}}
{{/*  kind: Role*/}}
{{/*  name: zeppelin-server-role*/}}
{{/*  apiGroup: rbac.authorization.k8s.io*/}}